body
	margin: 0 auto
	padding: 0
	
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

// --- MENU START

#header
	width: 30%
	height: 100%
	background: #000
	background-position: 0 0
	background-size: cover
	position: fixed
	top: 0
	left: 0
	//border: 0px solid transparent
	//border-radius: 0 15px 15px 0
	overflow: hidden
	z-index: 1

#header-bg
	background-color: rgba(9,157,179,0.5)
	background-image: linear-gradient(to bottom, rgba(255,0,124,0.6),#099db3)
	height: 100%

#header-inner
	background-image: url(img/header_bg_default.png)
	background-repeat: repeat-x
	background-position: 0 0
	position: relative
	height: 100%
	animation: inner-bg 70s infinite linear
	padding: 1px 50px 0 50px

	@keyframes inner-bg
		0% 
			background-position: 0 0
		100%
			background-position: -500px 0

.logo
	position: relative
	display: block
	text-align: center
	padding-top: 72px
	margin: 0 auto


.header-menu
	text-align: right
	font-size: 20px
	padding-top: 50px
	overflow: hidden
	ul
		li
			position: relative
			span
				a
					position: relative
					right: 0
					text-decoration: none
					color: #fff
				a:before
					content: ''
					display: block
					position: absolute
					top: 50%
					right: 100%
					margin: 0 10px 0 0
					width: 500px
					height: 1px
					background-color: rgba(255,255,255,0.2)
				a:hover
					right: 10px

.header-navigation
	width: 60%
	margin: 0 auto

.current-menu-item
	span
		a
			color: #edcf56 !important

.header-footer
	position: absolute
	left: 0
	right: 0
	bottom: 0
	height: 75px
	width: 100%
	background-color: rgba(9,157,179,0.5)

.clearfix:before, .clearfix:after
	display: table
	clear: both
	height: 0
	content: ''

.menu-item
	padding: 15px 0 0 0

.header-social
	padding: 0 10%
	ul
		position: relative
		padding: 0 5px
		float: left
		li
			display: inline-block
			border: 0px solid transparent
			i
				border: 1px solid rgba(255,255,255,0.5)
				border-radius: 50%
				display: inline-block
				margin: 0 auto
				padding: 5px
				width: 30px
				height: 30px
				font-size: 15px
				color: #fff
				line-height: 30px
				text-align: center
			i:hover
				border: 1px solid rgba(255,255,255,1)
				color: #edcf56
	ul:after, ul:before
		content: ''
		display: block
		height: 1px
		width: 500px
		position: absolute
		top: 50%
		right: 100%
		background-color: rgba(255,255,255,0.2)
	ul:after
		right: auto
		left: 100%

.rwd-menu-anchor
	visibility: hidden

// --- MENU END


.wrapper
	margin-left: 30%
	height: 100%
	position: relative


.main-container
	width: 100%
	height: 100%
	background-color: #fff
	margin: 0 auto
	padding: 0
	display: flex
	align-content: stretch
	flex-direction: column
	align-items: center 

.content
	width: 100%
	height: 100%
	display: block


.main-content
	background: #fff
	//box-shadow: 0px 13px 16px -7px rgba(0,0,0,0.31)
	//border-bottom: 1px solid #eee
	padding: 80px 100px 0 100px

.add-padding
	@extend .main-content
	border: 0

.section-title
	display: block
	padding-bottom: 10px
	em
		padding-bottom: 5px
		border-bottom: 1px solid red
		border-width: 80%


// --- SLIDER START

.baner
	position: relative
	overflow: hidden
	width: 100%
	height: 600px
	margin-bottom: 20px
	.baner-description
		height: 60px
		width: 100%
		position: absolute
		bottom: 2px
		background-color: rgba(255,255,255,0.85)
		display: flex
		justify-content: space-around
		align-items: center

.baner-description
	h1
		@extend h1
		padding: 0 15px
.slides
	display: block
	width: 8000px
	height: 100%
	margin: 0
	padding: 0

.slide
	height: 500px
	width: 1400px
	float: left

.baner-progressbar
	display: block
	height: 2px
	width: 0
	position: absolute
	bottom: 0
	background: linear-gradient(-90deg, #CC2C81, #935A9B)

// --- SLIDER END


// --- GALLERY ON MAIN PAGE - FULL WIDTH SECTION


//.gallery
//	width: 100%
//	display: flex
//	align-items: center
//	justify-content: space-between
//	flex-direction: row
//	//margin-bottom: 50px
//	.gallery-section
//		height: 200px
//		overflow: hidden
//		img
//			width: 300px

.gallery
	width: 100%
	overflow: hidden
	display: block
	ul.gallery-slider-container
		width: 300 * 8px
		li.gallery-section
			float: left
			width: 300px
			height: 200px

// --- END GALLERY


.description
	letter-spacing: 1px
	text-indent: 50px

h1
	font-family: Tahoma
	font-weight: bold
	font-size: 2em
	display: inline-block
	margin-bottom: 3px
	&:before
		content: ''
		height: 25px
		width: 8px
		display: inline-block
		background-color: red
.no-em
	&:after
		content: ''
		display: block
		padding-bottom: 20px
h3
	font-family: Arial
	font-size: 15px
	line-height: 21px


.testimonial, .full-width-section
	width: 100%
	height: auto

	.testimonial-content
		width: 80%
		margin: 0 auto
		blockquote
			font-size: 25px
			padding: 30px
			font-style: italic


.testimonial-portrait
	display: inline
	float: left
	padding: 15px
	span
		img
			height: 120px
			width: 120px
			padding: 5px
			border: 0px solid transparent
			border-radius: 50%
			background-color: #ff007c
			background-image: linear-gradient(to bottom, rgba(9,157,179,0.7),transparent)


.simple-button
	border: 1px solid red
	border-radius: 5px 0 5px 0
	background-color: #fff
	font-weight: bold
	color: red
	text-align: center
	padding-right: 20px
	padding-left: 20px
	height: 40px
	transition: all .2s ease-in-out
	text-transform: uppercase
	box-shadow: 0px 3px 6px -5px rgba(0,0,0,0.8)
	&:hover
		color: red
		background-color: rgb(258, 248, 248)

.click-anim-button
	transform: translate(0, 1px)
	border: 1px solid rgba(255, 0, 0, .3)
	box-shadow: 0 0 0 0 rgba(0,0,0,0)

.reset-padding
	padding: 0 !important
	margin: 0 !important


.reset-side-padding
	padding-left: 0
	padding-right: 0
	margin-left: 0
	margin-right: 0

.newsletter
	height: 300px
	background-color: rgba(0,0,0,0.85)
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%
	display: flex
	align-content: center
	align-items: center
	justify-content: center
	width: 100%

.col
	height: 200px
	width: 400px
	margin-top: 20px
	//background-color: red
	margin: 30px
	color: #fff

.form-fields
	height: 60px
	width: 350px
	background-color: rgba(0, 0 ,0 , 0.8)
	border: 0px solid transparent
	border-radius: 5px 0 5px 0
	text-align: center
	margin-top: 20px
	padding: 20px
	display: flex
	align-items: center
	justify-content: center


input.input-newsletter
	width: 150px
	height: 20px
	margin-right: 10px
	font-size: 15px
	font-style: italic
	background-color: transparent
	border: 0
	color: #aaa

input.input-newsletter:focus
	outline: 0
	background-color: rgba(0,0,0,0.8)

button:focus
	outline: 0


.float-right
	float: right

.right-padding
	padding-right: 20px

em
	font-style: italic
	font-weight: lighter
	display: block
	margin-bottom: 15px
ul, li
	list-style-type: none

nav
	ul
		li
			text-transform: uppercase
			list-style-type: none
			font-family: Arial

img
	max-width: 100%
	height: auto

a, i
	text-decoration: none
	transition: all 250ms ease-in-out

input:focus::-webkit-input-placeholder
	color: transparent
input:focus:-moz-placeholder /* FF 4-18 */
	color: transparent
input:focus::-moz-placeholder /* FF 19+ */
	color: transparent
input:focus:-ms-input-placeholder /* IE 10+ */
	color: transparent


// -------- MAX WIDTH 1800

@media (max-width: 1800px)
	#header
		width: 25%
	.wrapper
		margin-left: 25%
	.header-navigation
		width: 90%
		margin: 0 auto


// -------- MAX WIDTH 1199

@media (max-width: 1199px)
	#header
		width: 100%
		height: 300px
		position: flex
	.wrapper
		margin-left: 0
	.logo
		padding-bottom: 30px
		border-bottom: 1px solid rgba(255,255,255,.6)
		img
			height: 50px
	.header-navigation
		width: 100%
	.header-footer
		visibility: hidden
	.rwd-menu-anchor
		margin-top: 40px
		visibility: visible
		display: flex
		align-items: center
		justify-content: center
		width: 120px
		height: 50px
		border: 1px solid rgba(255,255,255,.6)
		border-radius: 8px 0 8px 0
		background-color: transparent
		font-size: 20px
		color: #fff
		i
			padding-right: 5px

